@font-face {
  font-family: BrandonGrotesque;
  src: url(../fonts/BrandonGrotesque-Regular.ttf);
}

@font-face {
  font-family: Cubano;
  src: url(../fonts/Cubano-Font/cubano-regular-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: BrandonGrotesque;
}

footer {
  width: 100%;
  height: 620px;
  background: black url(../img/footer/Image.png) no-repeat 50% 50%;
  background-size: cover;
  color: #ffffff;
}

footer .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-size: 15px;
}

.header-menu_logo {
  font-family: Cubano;
  font-weight: 900;
  font-size: 24.84px;
  position: relative;
}

.header-menu_logo::before {
  content: url(../img/icons/logo.png);
  width: 35px;
  height: 30px;
  position: absolute;
  left: -45px;
  top: 5px;
}

.header-menu_content {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
}

.header-menu_content h2 {
  font-weight: 200;
  font-size: 25px;
}

.header-menu_content h1 {
  font-size: 55px;
  margin-top: 30px;
}

.header-menu_content button {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-family: BrandonGrotesque;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 210px;
  height: 60px;
  left: -10px;
  position: relative;
}

.header-menu_content button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.main-header {
  padding: 100px;
}

.main-header-body {
  width: 860px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header-content {
  width: 550px;
  height: 20px;
}

.main-header-content img {
  width: 280px;
  height: 220px;
  margin-top: 30px;
}

.main-header-content h2 {
  font-size: 45px;
}

.main-header-content h2 span {
  font-weight: 200;
}

.main-header-content p {
  padding: 25px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.header-second {
  background-color: #fafafa;
}

.second > img {
  width: 230px;
  height: 50px;
}

.main-body {
  width: 860px;
  height: 390px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  padding: 50px 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content_text {
  width: 250px;
  margin-left: 25px;
  padding: 20px 0;
}

.main-content_image {
  width: 71px;
  height: 71px;
  background-color: #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.main-content_image img {
  max-width: 50%;
  max-height: 75%;
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media all and (max-width: 998px) {
  .header-menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header-menu nav {
    left: 50px;
  }
}
/*# sourceMappingURL=style.css.map */